{{#each students}}
  <tr>
    <td>{{id}}</td>
    <td>{{name}}</td>
    <td>{{age}}</td>
    <td>{{course}}</td>
    <td>{{skills}}</td>
    <td>{{email}}</td>
    <td>{{isEnrolled}}</td>
    <td>
      <button onclick="updateStudent({{id}})">Оновити</button>
      <button onclick="deleteStudent({{id}})">Видалити</button>
    </td>
  </tr>

{{/each}}