{{#each students}}
  <tr>
    <td>{{id}}</td>
    <td>{{name}}</td>
    <td>{{age}}</td>
    <td>{{course}}</td>
    <td>{{skills}}</td>
    <td>{{email}}</td>
    <td>{{isEnrolled}}</td>
    <td>
      <button class="updateStudent" data-id="{{id}}">Оновити</button>
      <button class="deleteStudent" data-id="{{id}}">Видалити</button>
    </td>
  </tr>

{{/each}}